.btn{
    padding: 10px 20px;
    background: $primary;
    color: $btnlink;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    &-small{
        font-size: 14px;
        padding: 5px 10px;
    }
    &-radius{
        border-radius: 5px;
    }
    &-medium{
        font-size: 18px;
        padding: 15px 30px;
    }
    &-big{
        font-size: 20px;
        padding: 20px 40px;
    }
}