th,td{
    padding: 10px;
    text-align: left;
    vertical-align: center;
    border-bottom: 1px solid black;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}
.table-responsive{
    overflow-x: auto;
}